<h1> Edit a Song </h1>

<%= form_for @song do |form| %>
	<p><%= form.label :name, "Name of Song:" %>
	<%= form.text_field :name, value: "#{@song.name}" %></p>
	<p><%=form.label :artist_id, "Name of Artist:"%>
		<%= form.text_field :artist_id %>
		<%= form.collection_select :artist_id, Artist.all, :id, :name, :prompt => "Select" %></p>
	<p><%= form.label :genre_id, "Name of Genre:" %>
		<%= form.text_field :genre_id %>
		<%= form.collection_select :genre_id, Genre.all, :id, :name, :prompt => "Select" %></p>
	<p><%= form.submit "Update Song" %></p>
<% end %>
